/* 右上角：计算器 */
#calcInput,
#calcOutput {
	width: 300px; // 设置宽度
	font-size: 18px; // 设置字体大小
	resize: none;
	border: none;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0); // 设置背景色透明度
	outline: none; // 取消外边框线
	/* 字体设置 */
	font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	color: #828282;
	border-radius: 5px;
}

#calcInput{
	border: 1px dotted #3f3f00;
}